/* /* html {
  overflow: hidden;
} */

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/images/Game_List.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

body {
  margin: 0;
  overflow-y: hidden;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

.outer::-webkit-scrollbar {
  display: none;
}

.divider {
  width: 100%;
  height: 5px;
}
.Home1 > .main1 {
  height: 80vh;
}
.Home1 > .main1 > .beatbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.img {
  animation: heartBeat infinite; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}

.playBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home1 {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.Home2 {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.Home2 > .title {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  display: flex;
  justify-content: space-evenly;
}

.Home2 > .content {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  margin-top: 50px;
}

.Home2 > .content > .intro {
  width: 40vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home2 > .content > .rules {
  width: 37vw;
  height: 75vh;
}

.Home2 > .content > .rules > img {
  border-radius: 10px;
}

.Home3 {
  width: 100vw;
  height: 108vh;
  position: relative;
}

.Home3 > .content > .rank1 {
  margin-top: 3%;
}

.Home3 > .content > .rank1 > h1 {
  text-align: center;
  color: white;
}

.Home3 > .content > .rank2 > h1 {
  text-align: center;
  color: white;
}

.Home3 > .content {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.Home3 > .content > .rank1 > .rt_sing_rank {
  margin-top: 50px;
  height: 70vh;
  width: 35vw;
  background-image: url("../../../public/images/1.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  border-radius: 10px;
}

.Home3 > .content > .rank1 > .rt_sing_rank > div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.Home3 > .content > .rank1 > .rt_sing_rank > div > .category {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 50%;
  /* background-color: #14006d; */
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.Home3 > .content > .rank1 > .rt_sing_rank > .music_rank {
  width: 95%;
  height: 75%;
  margin-top: 10px;
  /* background-color: #14006d; */
  border-radius: 10px;
  margin-left: 2.5%;
  color: white;
}

.Home3 > .content > .rank1 > .rt_sing_rank > .music_rank > .rank {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Home3 > .content > .rank2 {
  margin-top: 3%;
}
.Home3 > .content > .rank2 > .total_rank {
  margin-top: 50px;
  height: 28%;
  width: 35vw;
  background-color: #c1b3ff;
  border-radius: 10px;
  opacity: 0.9;
}

.Home3 > .content > .rank2 > .nickname {
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1%;
  color: white;
  font-weight: bolder;
}

.Home3 > .content > .rank2 > .top100 {
  height: 40%;
  width: 35vw;
  background-image: url("../../../public/images/6.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  border-radius: 10px;
}

.Home3 > .content > .rank2 > .top100 > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Home3 > .content > .rank2 > .top100 > div > .category {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50%;
  /* background-color: #14006d; */
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.Home3 > .content > .rank2 > .top100 > .user_rank {
  /* background-color: #14006d; */
  border-radius: 10px;
  width: 90%;
  height: 75%;
  margin-left: 5%;
}

.Home3 > .content > .rank2 > .top100 > .user_rank > .rank {
  width: 90%;
  color: white;
}

.Home4 {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

.Home4 > .sideBar {
  width: 20%;
  margin-left: 5%;
  font-size: xx-large;
  font-weight: bolder;
}

.Home4 > .sideBar > .calender > .title {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
}

.Home4 > .sideBar > .calender {
  height: 80%;
  margin-top: 10vh;
  justify-content: center;
  background-image: url("../../../public/images/2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.Home4 > .sideBar > .calender > .react-datepicker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}

.Home4
  > .sideBar
  > .calender
  > .react-datepicker-wrapper
  > .react-datepicker__input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.Home4
  > .sideBar
  > .calender
  > .react-datepicker-wrapper
  > .react-datepicker__input-container
  > .datePicker {
  display: flex;
  justify-content: center;
  background-color: black;
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  color: WHITE;
  text-align: center;
  font-size: x-large;
}

.Home4
  > div.sideBar
  > div.calender
  > div.react-datepicker__tab-loop
  > div.react-datepicker-popper {
  display: flex !important;
  justify-content: center !important;
  margin-left: 2%;
}

.Home4
  > div.sideBar
  > div.calender
  > div.react-datepicker__tab-loop
  > div.react-datepicker-popper
  > div
  > div
  > div.react-datepicker__triangle {
  transform: translate(125px, 0px) !important;
}

.Home4 > .content {
  width: 65%;
  height: 80%;
  background-image: url("../../../public/images/5.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 10vh;
  margin-left: 5%;
  margin-right: 5%;
}

.Home4 > .content > .line1 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home4 > .content > .line1 > .picture {
  width: 20%;
  height: 90%;
  background-color: #fed9e7;
  border-radius: 10px;
  margin: 5%;
  opacity: 0.3;
}

.Home4 > .content > .line2 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home4 > .content > .line2 > .picture {
  width: 20%;
  height: 90%;
  background-color: #fed9e7;
  border-radius: 10px;
  margin: 5%;
  opacity: 0.3;
}
