.friend-info {
  padding: 20px;
  margin-left: 100px; /* 왼쪽으로부터의 마진을 증가 */
  margin-top: 40px; /* 상단으로부터의 마진을 증가 */
}

.friend-item {
  display: flex;
  align-items: center;
  margin-bottom: 35px; /* 각 항목 사이에 간격을 둡니다. */
}

.friend-name {
  font-weight: bold; /* 이름을 두껍게 표시 */
  font-size: large;
  position: relative; /* position 속성을 relative로 설정하여 .friend-name 요소 내부에서 ::after 요소의 위치를 정의할 수 있게 합니다. */
  width: 170px; /* 값과 세로선을 고정한 상태에서 이름과 간격 설정 */
}

.friend-point {
  text-align: left;
  width: 150px; /* 포인트와 온라인 유무의 사이의 선들을 같은 간격으로 설정 */
  font-size: large;
  margin-left: 240px; /* 이름과 값 사이의 간격을 설정합니다. */
  position: relative; /* position 속성을 relative로 설정하여 .friend-name 요소 내부에서 ::after 요소의 위치를 정의할 수 있게 합니다. */
}

.friend-playing {
  text-align: left;
  font-size: large;
  margin-left: 250px; /* 이름과 값 사이의 간격을 설정합니다. */
  width: 120px;
}

.friend-point::after {
  content: ""; /* 가상 요소에는 반드시 content 속성이 필요합니다. 실제로 내용을 표시하지 않을 것이므로 빈 문자열로 설정합니다. */
  position: absolute; /* position 속성을 absolute로 설정하여 .friend-name 요소 내부에서 ::after 요소의 위치를 자유롭게 조정할 수 있게 합니다. */
  right: -100px; /* 선을 .friend-name 요소의 오른쪽에 위치시킵니다. */
  top: 0; /* 선을 .friend-name 요소의 상단에 위치시킵니다. */
  bottom: 0; /* 선을 .friend-name 요소의 하단에 위치시킵니다. */
  width: 1.5px; /* 선의 너비를 설정합니다. */
  background-color: #f95e97; /* 선의 색상을 설정합니다. */
}

.friend-name::after {
  content: ""; /* 가상 요소에는 반드시 content 속성이 필요합니다. 실제로 내용을 표시하지 않을 것이므로 빈 문자열로 설정합니다. */
  position: absolute; /* position 속성을 absolute로 설정하여 .friend-name 요소 내부에서 ::after 요소의 위치를 자유롭게 조정할 수 있게 합니다. */
  right: -100px; /* 선을 .friend-name 요소의 오른쪽에 위치시킵니다. */
  top: 0; /* 선을 .friend-name 요소의 상단에 위치시킵니다. */
  bottom: 0; /* 선을 .friend-name 요소의 하단에 위치시킵니다. */
  width: 1.5px; /* 선의 너비를 설정합니다. */
  background-color: #f95e97; /* 선의 색상을 설정합니다. */
}

.friend-playing.온라인::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: green; /* 온라인 상태일 때는 원이 초록색입니다 */
}

.friend-playing.게임중::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: yellow; /* 게임 중일 때는 원이 노란색입니다 */
}

.friend-playing.오프라인::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: red; /* 오프라인 상태일 때는 원이 빨간색입니다 */
}

.pointFont,
.friend-degree-pic {
  width: 30px; /* 이미지 크기 조절 */
  height: 30px; /* 이미지 크기 조절 */
  margin-left: 15px; /* 이름과 이미지 사이의 간격 */
  margin-right: 15px; /* 이미지와 포인트 사이의 간격 */
}

.deleteFriend {
  width: 40px; /* 이미지 크기 조절 */
  height: 40px; /* 이미지 크기 조절 */
}
