.Header_outer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.Header_outer1 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header_outer1 > .Header_logo1 {
  height: 10vh;
}

.Header_outer1 > .Header_logo1 > img {
  height: 100%;
}

.Header_outer1 > div > .Header_Login1 {
  margin-right: 5vw;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
