.photo-container {
  margin-top: 20px;
  background-color: white;
  margin-left: 3%;
  margin-right: 4%;
  width: 72%;
  min-height: 70vh;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  height: 80vh;
}

.images {
  display: flex;
  /* 각 사진 별로 간격을 띄어줌 */
  gap: 20px; /* 원하는 간격으로 변경 가능 */
}
