.point-container {
  margin-top: 40px;
  background-color: white;
  margin-left: 3%;
  margin-right: 4%;
  width: 72%;
  min-height: 70vh;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.table-container {
  max-height: 400px; /* Adjust this value to suit your needs */
  overflow-y: auto;
  margin-top: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.table td,
.table th {
  text-align: center;
}

.accumulate-point {
  margin-left: 160px;
  font-size: larger;
}

.point {
  margin-left: 8px;
  font-size: large;
}
